langchain
langchain-core
langchain-community
pypdf
pymupdf
langchain-text-splitters
sentence-transformers
faiss-cpu
chromadb
qdrant-client
langchain-groq
langchain-google-genai
notebook
python-dotenv
streamlit
google-generativeai
langchain-huggingface
langchain-chroma
langgraph
langsmith
torch
torchvision
transformers